<section id="clients" class="section clients">
  <h2 class="title">{{ clientes.titulo }}</h2>

  <div class="container">
    {% for cliente in clientes.clientes %}
      <div class="client col">
      <img class="img" src="{{ cliente.logo }}" alt="Logo da empresa {{ cliente.nome }}">
      </div>
    {% endfor %}
  </div> <!-- .container -->
</section> <!-- .clients -->