<section id="contact" class="section contact">
  <div class="container">
    <h2 class="title">Contato</h2>

    <form class="form" name="contact" method="POST" action="/#contact" netlify>
      <div class="field">
        <label class="label" for="name">Nome:</label>
        <input id="name" class="input" type="text" name="name" required>
      </div>
      <div class="field">
        <label class="label" for="email">Email:</label>
        <input id="email" class="input" type="email" name="email" required>
      </div>
      <div class="field">
        <label class="label" for="message">Mensagem:</label>
        <textarea id="message" class="textarea" name="message" required></textarea>
      </div>
      <div class="field">
        <button class="button" type="submit">Enviar</button>
      </div>

      <div class="notification show">
        <span class="status">Mensagem enviada com sucesso!</span>
        <a href="#" class="button"><i class="fas fa-times"></i></a>
      </div>
    </form>


    {# <form class="form" action="https://formspree.io/vtmx22@gmail.com" method="POST">
      <div class="field">
        <label class="label" for="name">Nome:</label>
        <input id="name" class="input" type="text" name="name" required>
      </div>
      <div class="field">
        <label class="label" for="email">Email:</label>
        <input id="email" class="input" type="email" name="email" required>
      </div>
      <div class="field">
        <label class="label" for="message">Mensagem:</label>
        <textarea id="message" class="textarea" name="message" required></textarea>
      </div>
      <div class="field">
        <button class="button" type="submit">Enviar</button>
      </div>
      <div class="notification">

      </div>
    </form> #}
  </div> <!-- .container -->
</section> <!-- .section -->