<section class="equipaments">
  <h2 class="title">Equipamentos</h2>
  
  <div class="container">
    {% for equipaments in equipaments %}
      <div class="equipament">
        
      </div>
    {% endfor %}
  </div>
</section>