  </main> <!-- .main -->
  
  <footer class="footer">
    <div class="container">
      <div class="col">
        <a href="#" class="logo">
          <img src="/img/site/logo-light.svg" alt="Logo Hidrotécnica Equipamentos">
        </a>
        <p class="description">
          Over 24 years experience and knowledge of international industrial systems, dedicated to provide the best economical solutions to our valued customers. We Won Many Factory Awards and Ceritificates Since 2001-2016
        </p>
      </div>

      <div class="col">
        <h3 class="title">Informações</h3>
      </div>

      <div class="col">
        <h3 class="title">Informações</h3>

      </div>
    </div>

    <div class="copyright">
        <p>Hidrotécnica Equipamentos <sup>Ltda.</sup></p>
        <p>CNPJ: 97.488.621/0001-06 - INSC. EST. 84.897.779</p>
        <p><span class="author">Desenvolvido por <a href="http://vitormelo.com.br" target="_blank">Vitor Melo</a></span></p>
    </div>
  </footer>

  <a id="scroll-top" class="scroll-top" href="#">
    <i class="icon fas fa-angle-up fa-2x"></i>
  </a>

  <script src="/js/script.js"></script>
</body>
</html>