        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
    </div>
    <!-- #content -->

    <div id="footer-widgets" class="footer-widgets widgets-area">
      <div class="container">
        <div class="row">
          <div class="footer-sidebar footer-1 col-xs-12 col-sm-6 col-md-3">
            <div id="text-11" class="widget widget_text">
              <div class="textwidget">
                <a href="http://demo2.steelthemes.com/factoryhub/" class="footer-logo"><img src="/img/site/logo-light.svg" alt="Footer Logo"></a>
                <p style="line-height: 2;">
                  Over 24 years experience and knowledge of international industrial systems, dedicated to provide the best economical solutions to our valued customers. We Won Many Factory Awards and Ceritificates Since 2001-2016
                </p>
              </div>
            </div>
          </div>
          <div class="footer-sidebar footer-2 col-xs-12 col-sm-6 col-md-3">
            <div id="nav_menu-2" class="widget widget_nav_menu">
              <h4 class="widget-title">Our Services</h4>
              <div class="menu-service-menu-container">
                <ul id="menu-service-menu" class="menu">
                  <li id="menu-item-187" class="menu-item menu-item-type-post_type menu-item-object-service menu-item-187">
                    <a href="http://demo2.steelthemes.com/factoryhub/service/power-and-energy/">Power and Energy</a>
                  </li>
                  <li id="menu-item-188" class="menu-item menu-item-type-post_type menu-item-object-service menu-item-188">
                    <a href="http://demo2.steelthemes.com/factoryhub/service/petroleum-and-gas/">Petroleum and Gas</a>
                  </li>
                  <li id="menu-item-189" class="menu-item menu-item-type-post_type menu-item-object-service menu-item-189">
                    <a href="http://demo2.steelthemes.com/factoryhub/service/mechanical-engineering/">Mechanical Engineering</a>
                  </li>
                  <li id="menu-item-190" class="menu-item menu-item-type-post_type menu-item-object-service menu-item-190">
                    <a href="http://demo2.steelthemes.com/factoryhub/service/material-engineering/">Material Engineering</a>
                  </li>
                  <li id="menu-item-191" class="menu-item menu-item-type-post_type menu-item-object-service menu-item-191">
                    <a href="http://demo2.steelthemes.com/factoryhub/service/chemical-engineering/">Chemical Engineering</a>
                  </li>
                  <li id="menu-item-192" class="menu-item menu-item-type-post_type menu-item-object-service menu-item-192">
                    <a href="http://demo2.steelthemes.com/factoryhub/service/agriculture-processing/">Agriculture Processing</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-sidebar footer-3 col-xs-12 col-sm-6 col-md-3">
            <div id="latest-post-widget-2" class="widget latest-post-widget">
              <h4 class="widget-title">Latest News</h4>
              <div class="list-post">
                <div class="latest-post clearfix">
                  <time class="post-date" datetime="2017-04-20T08:57:22+00:00">April 20, 2017</time>
                  <a class="post-title" href="http://demo2.steelthemes.com/factoryhub/2017/04/20/we-won-best-industries-services-award-2016/" title="We Won Best Industries Services Award – 2016">We Won Best Industries Services Award – 2016</a>
                </div>
                <div class="latest-post clearfix">
                  <time class="post-date" datetime="2017-04-20T08:56:12+00:00">April 20, 2017</time>
                  <a class="post-title" href="http://demo2.steelthemes.com/factoryhub/2017/04/20/contemporary-technology-for-mystic-vehicle/" title="Contemporary Technology for Mystic Vehicle">Contemporary Technology for Mystic Vehicle</a>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-sidebar footer-4 col-xs-12 col-sm-6 col-md-3">
            <div id="mc4wp_form_widget-2" class="widget widget_mc4wp_form_widget">
              <h4 class="widget-title">Subscribe Us</h4>
            </div>
            <div id="text-8" class="widget widget_text">
              <div class="textwidget">We don’t do spam and Your mail id is very confidential.</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer id="colophon" class="site-footer">
      <div class="container">
        <div class="row">
          <div class="footer-copyright text-center col-md-12 col-sm-12 col-sx-12">
            <div class="site-info">Hidrotécnica Equipamentos <sup>Ltda.</sup> - Desenvolvido por <a href="http://vitormelo.com.br" target="_blank">Vitor Melo</a></div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- #page -->

  <a id="scroll-top" class="backtotop show-scroll" href="#">
    <i class="fa fa-angle-up"></i>
  </a>

  <script src="/js/script.min.js">
  <script src="/js/html5shiv.min.js">
  <script src="/js/plugins.js">
</body>
</html>