  </main> <!-- .main -->
  
  <footer class="footer">
    <div class="container">
      <img class="logo" src="/img/site/logo-light.svg" alt="Logo Hidrotécnica Equipamentos">
    </div>
    
    <div class="container">
      <div class="col">
        <p>
          A Hidrotécnica Equipamentos Ltda é uma empresa com capacidade extrema de ajustes, produção, execução de manutenções/reparos e tratamento especiais em instalações, assim como consultoria voltada para o ramo de atividades com equipamentos hidráulicos, dando ênfase para bombas hidráulicas, referente a praticamente todos os tipos de bombas e sistemas de bombeamento existentes no no mercado nacional e no mercado internacional.
        </p>
      </div>

      <div class="col">
        <p class="description">
         Criada em 22/01/1993, já com vários anos de mercado atende a clientes como a CSN / IPIRANGA DE PETRÓLEO / RAÍZEN (SHELL) / CSA (THYSSENGRUPP) e muitas outras empresas do gênero desde esta data de criação, sempre administrando seu mais alto padrão de gestão principalmente por vir destes clientes a exigência por excelência de melhorias constantes com atualizações e adequações aos mais atuais métodos de fabricação e manutenção.
        </p>
      </div>

      <div class="col">
        <p>
          A filosofia em inovar e sempre se adequar ao mercado atual em função das necessidades de nossos clientes e, contamos para isso com três unidades de trabalho onde separamos a oficina de máquinas, escritório central com oficina de ajustagem, pintura e posto de embalagem/expedição, ficando para o terceiro setor a oficina de reparos pesado e testes finais.
        </p>
      </div>
    </div>

    <div class="copyright">
        <p>Hidrotécnica Equipamentos <sup>Ltda.</sup></p>
        <p>CNPJ: 97.488.621/0001-06 - INSC. EST. 84.897.779</p>
        <p><span class="author">Desenvolvido por <a href="http://vitormelo.com.br" target="_blank">Vitor Melo</a></span></p>
    </div>
  </footer>

  <a id="scroll-top" class="scroll-top" href="#">
    <i class="icon fas fa-angle-up fa-2x"></i>
  </a>

  <script src="/js/script.js"></script>
</body>
</html>