<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#04192b">

    <!-- SEO -->
    <title>{{ seo.title }}</title>

    <!-- Styles -->
    {# <link rel="stylesheet" href="/css/bootstrap.min.css"> #}
    {# <link rel="stylesheet" href="/css/style.css"> #}
    {# <link rel="stylesheet" href="/css/style-custom.css"> #}
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    <link rel="stylesheet" href="/css/flaticon.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/factoryplus-icons.min.css">
    
    <!-- Icon -->
    <link rel="icon" href="/img/site/favicon.png">
  </head>

  <body id="home">
    <header class="header">
      <div class="container">
        <div class="logo">
          <a href="http://demo2.steelthemes.com/factoryhub" class="link">
            <img src="/img/site/logo.svg" alt="FactoryHub" class="img logo-dark show-logo" alt="Logo Hidrotécnica Equipamentos">
          </a>
        </div>
        <div class="contact">
          <div class="item">
            <i class="icon flaticon-pin"></i> 
            <div>
              <h2 class="title">Local:</h2>
              <p class="info">Rua Vinte e Quatro de Maio, 25-Gap-III, RJ</p>
            </div>
          </div>

          <div class="item">
            <i class="icon flaticon-clock"></i>
            <div>
              <h2 class="title">Horário:</h2>
              <p class="info">{{ info.horario }}</p>
            </div>
          </div>

          <div class="item">
            <i class="icon flaticon-web"></i>
            <div>
              <h2 class="title">Contato:</h2>
              <p class="info">{{ info.email }}</p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <nav class="nav">
      <div class="container">
        <a class="link active" href="#home">Home</a>
        <a class="link" href="#services">Serviços</a>
        <a class="link" href="#clients">Clientes</a>
      </div>
    </nav>

    <main class="main">