<section id="map" class="section map">
  <h2 class="title">{{ mapa.titulo }}</h2>
  <div class="container">
    <iframe src="{{ mapa.link }}" width="1200" height="480" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div> <!-- .container -->
</section><!-- .map -->