<section id="produto" class="section products">
  <h2 class="title">{{ produtos.titulo }}</h2>

  <div class="container">
    {% for produto in produtos.produtos %}
      <div class="product">
        <div class="gallery col">
          <div class="images">
            {% for imagem in produto.imagens %}
              <div class="image{% if loop.first %} active{% endif %}" data-slider="img">
                <img class="img" src="{{ imagem.url }}" alt="Imagem">
              </div>
            {% endfor %}
          </div>
          <div class="thumbs">
            {% for imagem in produto.imagens %}
              <div class="thumb{% if loop.first %} active{% endif %}" data-slider="thumb">
                <img class="img" src="{{ imagem.url }}" alt="Imagem">
              </div>
            {% endfor %}
          </div>
        </div> <!-- .col -->
        <div class="text col">
          <h2 class="title">{{ produto.nome }}</h2>
          <div class="descriptions">
            {% for imagem in produto.imagens %}
              <p class="description{% if loop.first %} active{% endif %}" data-slider="desc">
                {{ imagem.descricao }}
              </p>
            {% endfor %}
          </div> <!-- .descriptions -->
        </div> <!-- .col -->
      </div> <!-- .product -->
    {% endfor %} 
  </div> <!-- .container -->
</section>