<section id="featured" class="section featured">
  <div class="container">
    <div class="col text">
      <h2 class="title">{{ destaque.titulo }}</h2>
      <p class="description">{{ destaque.descricao }}</p>
      <a class="button" href="/docs/{{ destaque.link }}" target="_blank">Especificações</a>
    </div>
    <div class="col image">
      <img src="/img/produtos/{{ destaque.imagem }}" alt="Bomba Submersível">
    </div>
  </div>
</section><!-- .map -->