{# <section id="produtos" class="section produtos">
  <h2 class="title">Produtos</h2>

  <div class="container">
    {% for produto in produtos %}
      <div class="produto">
        
      </div>
    {% endfor %}
  </div>
</section> #}