<section id="produto" class="section products">
  <h2 class="title">{{ produtos.titulo }}</h2>

  <div class="container">
    {% for produto in produtos.produtos %}
      <div class="product">
        <div class="gallery col">
          <div class="images">
            {% for imagem in produto.imagens %}
              {% if loop.first %}
                <div class="image active"><img class="img" src="{{ imagem.url }}" alt="Imagem"></div>
              {% else %}
                <div class="image"><img class="img" src="{{ imagem.url }}" alt="Imagem"></div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="thumbs">
            {% for imagem in produto.imagens %}
              {% if loop.first %}
                <div class="thumb active"><img class="img" src="{{ imagem.url }}" alt="Imagem"></div>
              {% else %}
                <div class="thumb"><img class="img" src="{{ imagem.url }}" alt="Imagem"></div>
              {% endif %}
            {% endfor %}
          </div>
        </div> <!-- .col -->
        <div class="text col">
          <h2 class="title">{{ produto.nome }}</h2>
          <div class="descriptions">
            {% for imagem in produto.imagens %}
              {% if loop.first %}
                <p class="description active">{{ imagem.descricao }}</p>
              {% else %}
                <p class="description">{{ imagem.descricao }}</p>
              {% endif %}
            {% endfor %}
          </div> <!-- .descriptions -->
        </div> <!-- .col -->
      </div> <!-- .product -->
    {% endfor %} 
  </div> <!-- .container -->
</section>