<section id="services" class="services">
  <div class="container">
    {% for servico in servicos %}
      <div class="service">
        <i class="icon {{ servico.icone }}"></i>
        <h4 class="title">{{ servico.titulo }}</h4>
        <p class="description">{{ servico.descricao }}</p>
    </div> <!-- .servico -->
    {% endfor %}
  </div> <!-- .container -->
</section> <!-- .services -->