<section id="services" class="section services">
  <h2 class="title">{{ servicos.titulo }}</h2>

  <div class="container">
    {% for servico in servicos.tipos %}
      <div class="service col">
        <i class="icon {{ servico.icone }}"></i>
        <h4 class="title">{{ servico.titulo }}</h4>
    </div> <!-- .servico -->
    {% endfor %}
  </div> <!-- .container -->
</section> <!-- .services --> 