<section id="sobre" class="section about">
  <h2 class="title">{{ sobre.titulo }}</h2>

  <div class="container">
    {# <div class="img" style="background: url({{ sobre.imagem }});"> #}
    <div class="bg">
      <p class="description col">{{ sobre.descricao }}</p>
    </div>
  </div> <!-- .container -->
</section> <!-- .clients -->