<section id="sobre" class="section about">
  <h2 class="title">{{ sobre.titulo }}</h2>

  <div class="container">
    <img class="img col" src="{{ sobre.imagem }}">
    <p class="description col">{{ sobre.descricao }}</p>
  </div> <!-- .container -->
</section> <!-- .clients -->