{% include "header.njk" %}
{% include "hero.njk" %}
{% include "servicos.njk" %}
{% include "produtos.njk" %}
{% include "clientes.njk" %}
{% include "contato.njk" %}
{% include "map.njk" %}
{% include "footer.njk" %}