{% include "header.njk" %}
{% include "hero.njk" %}
{% include "sobre.njk" %}
{% include "servicos.njk" %}
{% include "produtos.njk" %}
{% include "clientes.njk" %}
{% include "fornecedores.njk" %}
{% include "contato.njk" %}
{% include "mapa.njk" %}
{% include "footer.njk" %}